@use '../vars_mixins/vars' as *;
@use '../vars_mixins/mixins' as *;

.all-secrets-page,
.top-secrets-page{
    margin: 0 0.5rem;
    color: $txt-dark;
    max-width: $max-content-width;

    h2{
        font-family: $header-font;
        font-size: $header-font-size;
        text-align: center;
        margin: 3rem 0 3rem;
    }

    .sort-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .btn{
        @include button-style;
        max-width: fit-content;
        margin-bottom: 1rem;
    }
    .card-body{
        border: 2px solid $brand-border;
        padding: 0.25rem 0.75rem 0.5rem;
        margin-bottom: 1rem;
        background-color: $post-background;
        height: 18rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-text{
            a{
                font-family: $header-font;
                font-size: $header-font-size;
                font-weight: 600;
                text-decoration: none;
            }
        }

        font-family: $body-font;
        font-size: $body-font-size;
    }

    .all-secrets-no-posts{
        font-family: $header-font;
        font-size: $header-font-size;
        text-align: center;
        
    }

    @media (min-width: 600px) {
        margin: 2rem;
        h3{
            padding: 3rem 0 2rem;
            margin-top: 3rem;
        }

        .card.mb-3{
            .card-body{
                padding: 0.5rem 2rem 1rem;
            }
        }
    }

// laptop
    @media (min-width: 1024px){
        margin: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        .sort-wrapper{
            padding: 1rem 0 3rem;
            margin: 0;
            padding-top: 1rem;
            grid-column: span 2;
            h2{
                margin-top: 1rem;
            }
        }

        .card-body{
            margin-bottom: 0;
            height: 20rem;
            display: flex;
            padding: 2rem;
            flex-direction: column;
            justify-content: space-around;

            .card-text{
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 400px;    
            }
        }
    }

// max-screen
    @media (min-width: 70rem){
        margin: 1rem auto;
        padding: 2rem;
    }
}