@use '../vars_mixins/vars' as *;
@use '../vars_mixins/mixins' as *;

.all-secrets-page,
.top-secrets-page{
    margin: 0 0.5rem;
    color: $txt-dark;
    max-width: $max-content-width;
    color: $txt-dark;

    h2{
        font-family: $header-font;
        font-size: $header-font-size;
        text-align: center;
        margin: 3rem 0 3rem;
    }

    .sort-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .form-select{
            border: 2px solid $brand-border;
            border-radius: 4px;
            font-family: $body-font;
            font-size: $body-font-size;
            margin-bottom: 1rem;
            width: 15rem;
        }
    }

    .card-wrapper{
        border: 2px solid $brand-border;
        padding: 0.25rem 0.75rem 0.5rem;
        margin-bottom: 1rem;
        background-color: $post-background;
        display: flex;
        min-height: 21rem;
        font-family: $body-font;
        font-size: $body-font-size;
        text-decoration: none;
        color: $txt-dark;
        transition: 0.3s ease box-shadow;

        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0.5rem;
        }

        .card-title{
            font-family: $header-font;
            font-size: $header-font-size;
            font-weight: 600;
        }

        .text-muted{
            font-size: smaller;
        }

        &:hover,
        &:focus{
            box-shadow: 0.25rem 0.25rem $shadow-colour;
            transition: 0.3s ease box-shadow;
        }
    }

    .all-secrets-no-posts{
        font-family: $header-font;
        font-size: $header-font-size;
        text-align: center;
        
    }

    @media (min-width: 37.5rem) {

        h3{
            padding: 3rem 0 2rem;
            margin-top: 3rem;
        }

        .sort-wrapper{
            margin-right: 1rem;
        }
        .card-wrapper{
            margin: 1rem;
        }

        .card-body{
            padding: 0.5rem 2rem 1rem;
        }
    }

// laptop
    @media (min-width: 64rem){
        margin: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        h2{
            margin-top: 1rem;
            grid-column: span 2;
        }
        .sort-wrapper{
            padding: 1rem 0 0;
            margin: 0;
            padding-top: 1rem;
            grid-column: span 2;

        }

        .card-wrapper{
            margin: 0;
            min-height: 28rem;
            display: flex;
            padding: 1rem 2rem;
            flex-direction: column;
            justify-content: space-around;
            overflow-y: hidden;
        }

        .card-body{
            padding: 0;
            margin: 0;
        }

        .all-secrets-no-posts{
            grid-column: span 2;
        }
    }

// max-screen
    @media (min-width: 70rem){
        margin: 1rem auto;
        padding: 2rem;
    }
}