@use '../vars_mixins/vars' as *;
@use '../vars_mixins/mixins' as *;
html{
    width: 100%;

    body{
        margin: 0;
        min-height: 100%;
        main{
            min-height: 100%;
        }
    }
}