@use '../vars_mixins/vars' as *;
@use '../vars_mixins/mixins' as *;
html{
    width: 100%;

    body{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        min-height: 100vh;
        
        main{
            min-height: 100%;
        }
    }
}