@use '../vars_mixins/vars' as *;
@use '../vars_mixins/mixins' as *;

.page-edit-post{
    padding: 0.5rem;
    margin:3rem auto 20rem;
    color: $txt-dark;
    max-width: 48rem;

    h2{
        font-family: $header-font;
        font-size: $header-font-size;
        text-align: center;
    }
    p{
        text-align: center;
        margin-bottom: 3rem;
    }
    form{
        display: flex;
        font-family: $body-font;
        font-size: $body-font-size;
        flex-direction: column;
        gap: 0.75rem;
        align-items: center;
        width: 100%;
        
        div{
            width: 90%;
            margin: 0;
        }
    
        .form-label{
            margin: 0.25rem 1rem;
        }

        label{
            display: block;
            text-align: left;
            width: 101%;
            margin: 0.25rem 0rem;
        }
        textarea{
            @include text-field;
            margin: 0 auto;
            width: 95%;
        }
        .btn{
            @include button-style;
        }
    }
}