@use '../vars_mixins/vars' as *;
@use '../vars_mixins/mixins' as *;

.page-edit-post{
    padding: 0.5rem 0;
    margin: 0rem;
    color: var(--txt-dark);
    width: 100%;

    h2{
        font-family: $header-font;
        font-size: $header-font-size;
        text-align: center;
    }
    p{
        text-align: center;
        margin-bottom: 3rem;
    }
    form{
        display: flex;
        font-family: $body-font;
        font-size: $body-font-size;
        flex-direction: column;
        gap: 0.75rem;
        align-items: center;
        width: 100%;
        max-width: 30rem;
        margin: auto;
        
        div{
            width: 100%;
            margin: 0;
        }
    
        .form-label{
            margin: 0.25rem 1rem;
        }

        label{
            display: block;
            text-align: left;
        }
        textarea{
            @include text-field;
        }
        .btn{
            @include button-style;
        }
    }

    @media (min-width: 48rem) {
        width: 699px;
    }
}