@use '../vars_mixins/vars' as *;
@use '../vars_mixins/mixins' as *;

.login-page,
.register-page{
    display: flex;
    flex-direction: column;
    color: $txt-dark;
    font-family: $body-font;
    font-size: $body-font-size;
    justify-content: center;    
    align-items: center;
    gap: 1rem;

    h2{
        font-family: $header-font;
        font-size: $header-font-size;
        text-align: center;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin: 0 1rem;
        width: 100%;

        input{
            border: 2px solid $brand-border;
            border-radius: 4px;
            padding: 0.5rem;
            width: 100%
        }
        
        .btn{
            @include button-style;
            max-width: 18rem;
        }
    }

    @media (min-width: 600px) {
        form{
            margin: 0 6rem;
        }
    }
    @media (min-width: 52rem){
        form{
            margin: 0 10rem;
        }
    }

    @media (min-width: 64rem){
        form{
            margin: 0;
        }
    }
}
