@use '../vars_mixins/vars' as *;
@use '../vars_mixins/mixins' as *;

.page-secret-details{
    margin: 0 0.5rem;
    color: $txt-dark;
    max-width: $max-content-width;
    height: calc(100vh - 20rem);
    text-align: center;

    h2{
        font-family: $header-font;
        font-size: $header-font-size;
        margin: 3rem 0;
        font-weight: 600;
        text-align: center;
    }
    .card{
        .card-body{
            border: 2px solid $brand-border;
            padding: 0.75rem 0.75rem;
            margin-bottom: 1rem;
            background-color: $post-background;
            font-family: $body-font;
            font-size: $body-font-size;
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .card-title{
                font-family: $header-font;
                font-size: $header-font-size;
                font-weight: 600;
            }
        }
        margin-bottom: 3rem;
    }
    .btn{
        @include button-style;

    }
    @media (min-width: 600px) {
        margin: 2rem;
        .card{
            .card-body{
                padding: 0.5rem 2rem 1rem;
            }
        }
    }
    @media (min-width: 1024px){
        margin: 4rem;
        h2{
            padding: 1rem 0 3rem;
            margin-top: 4rem;
        }
    }
    @media (min-width: 70rem){
        margin: 1rem auto;
        padding: 2rem;
    }
}