@use '../vars_mixins/vars' as *;
@use '../vars_mixins/mixins' as *;

header {
    font-family: $header-font;
    font-size: $header-font-size;
    background-color: var(--brand-background);
    margin-bottom: 2rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    a {
        text-decoration: none;
    }

    form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        svg{
            stroke: var(--txt-dark);
            height: 2rem;
        }
    }

    .hero {
        display: flex;
        justify-content: space-around;
        max-width: $max-content-width;
        margin: auto;
        color: var(--txt-dark);

        p:nth-child(1) {
            margin-top: 50px;
        }
        p:nth-child(2) {
            margin-top: 75px;
        }
        p:nth-child(3) {
            margin-top: 100px;
            margin-bottom: 50px;
        }
    }
}