@use '../vars_mixins/vars' as *;
@use '../vars_mixins/mixins' as *;

nav {

    background-color: $header-background;
    border-block: 2px solid $brand-border;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul {
        display: flex;
        margin: 0;
        list-style-type: none;
    }

    li {
        padding-inline: 30px;
        padding-block: 10px;
        border-left: 2px solid $brand-border;
    }

    li:last-child {
        border-right: 2px solid $brand-border;
    }

    .container{
        a.navbar-brand{
            color: $txt-alt;
            width: 100%;
            height: 15rem;
            margin: 2rem;
            text-align: center;
        }
        ul {
            list-style-type: none;
        }
    }
}