@use '../vars_mixins/vars' as *;
@use '../vars_mixins/mixins' as *;

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $header-background;
    border-block: 2px solid $brand-border;

    ul {
        list-style-type: none;
    }
}