/* Error: Undefined variable.
 *     ,
 * 119 |                         border-right: 2px solid $brand-border;
 *     |                                                 ^^^^^^^^^^^^^
 *     '
 *   static/scss/components/_nav.scss 119:49  @use
 *   static/scss/styles.scss 8:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 119 \2502                          border-right: 2px solid $brand-border;\a     \2502                                                  ^^^^^^^^^^^^^\a     \2575 \a   static/scss/components/_nav.scss 119:49  @use\a   static/scss/styles.scss 8:1              root stylesheet";
}
