<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="custom.css">
    <script src="../scripts/nav-bar.js"></script>
</head>
<body>
    <header>
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <div class="hero">
                <p>THE</p>
                <p>secret</p>
                <p>WALL</p>
            </div>
        </a>
        <nav>
            <button id="menu-toggle" aria-label="Toggle Menu"><img src="../assets/icons/mobile-nav.svg" alt="toggle nav icon"></button>
            <div id="menu" class="menu">
                <ul class="">
                    <li class="">
                        <a class="" href="{{ url_for('secrets') }}">All Secrets</a>
                    </li>
                    <li class="">
                        <a class="" href="{{ url_for('top_secrets') }}">Top Secrets</a>
                    </li>
                    <li class="">
                        <a class="" href="{{ url_for('profile') }}">Profile</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="all-secrets-page top-secrets-page">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>All Secrets</h2>
                <a href="{{ url_for('secrets', sort='spicy') }}" class="btn btn-outline-danger btn-sm">
                🌶️ Sort by Spice Level
                </a>
            </div>
            {% for secret in secrets %}
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-text"><a href="{{ url_for('secret_detail', id=secret.id) }}">{{ secret.title }}</a></p>
                        <p class="card-text">{{ secret.content }}</p>
                        <p class="text-muted small">
                        Posted by {{ secret.anonymous_poster }} on {{ secret.created_date.strftime('%Y-%m-%d %H:%M') }}
                        {% if secret.expires_at %}
                            | Expires at: {{ secret.expires_at.strftime('%Y-%m-%d %H:%M')}}
                        {% else %}
                            <span class="text-success">Permanent</span>
                        {% endif %}
                        </p>
                        <p class="secret-rating">{{ secret.rating }} 🌶️s</p>
                    </div>
                </div>
            {% else %}
                <p class="all-secrets-no-posts">No secrets yet.</p>
            {% endfor %}
            </div>
        </div>

        
    </main>
    <footer>
        <div class="marquee">
            <div class="marquee-content">
                <p>It's like taking a sharpie to the bathroom wall, without taking a sharpie to the bathroom wall.</p>
                <p>It's like yelling into the void, but the void yells back.</p>
                <p>It's like therapy, except cheaper and less qualified.</p>
                <p>It's like writing in wet cement, and the cement is always wet.</p>
            </div>
    
            <div class="marquee-content" aria-hidden="true">
                <p>It's like taking a sharpie to the bathroom wall, without taking a sharpie to the bathroom wall.</p>
                <p>It's like yelling into the void, but the void yells back.</p>
                <p>It's like therapy, except cheaper and less qualified.</p>
                <p>It's like writing in wet cement, and the cement is always wet.</p>
            </div>
        </div>
    </footer>
</body>
</html>