<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="custom.css">

</head>
<body>
    <header>
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <div class="hero">
                <p>THE</p>
                <p>secret</p>
                <p>WALL</p>
            </div>
        </a>
        <nav>
            <div class="">
                <ul class="">
                    <li class="">
                        <a class="" href="{{ url_for('secrets') }}">All Secrets</a>
                    </li>
                    <li class="">
                        <a class="" href="{{ url_for('top_secrets') }}">Top Secrets</a>
                    </li>
                    <li class="">
                        <a class="" href="{{ url_for('profile') }}">Profile</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="all-secrets-page">
        <h2>All Secrets</h2>

        {% for secret in secrets %}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text"><a href="{{ url_for('secret_detail', secret_id=secret.id) }}">{{ secret.title }}</a></p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic reiciendis ab rerum velit laboriosam aspernatur quaerat eum nemo esse? Quibusdam repellat, maxime veritatis officia quis dicta reprehenderit at dolorum nisi?</p>
                    <p class="text-muted small">
                    Posted by {{ secret.anonymous_poster }} on {{ secret.created_date }}
                    {% if secret.expires_at %}
                        | Expires at: {{ secret.expires_at }}
                    {% endif %}
                    </p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text"><a href="{{ url_for('secret_detail', secret_id=secret.id) }}">{{ secret.title }}</a></p>
                    <p class="card-text">{{ secret.content }}</p>
                    <p class="text-muted small">
                        Posted by {{ secret.anonymous_poster }} on {{ secret.created_date }}
                        {% if secret.expires_at %}
                        | Expires at: {{ secret.expires_at }}
                        {% endif %}
                    </p>
                </div>
            </div>
        {% else %}
            <p class="all-secrets-no-posts">No secrets yet.</p>
        {% endfor %}
        </div>
    </main>
    <footer>
        <ul>
            <li>Ziyuan Zhao</li>
            <li>Abhinav Dixit</li>
            <li>Chenyue Li</li>
            <li>Marcus Bonacci</li>
            <li>Quang Long Chau</li>
            <li>Gillian Downey</li>
        </ul>
        <!-- hidden -->
        <ul aria-hidden="true" >
            <li>Ziyuan Zhao</li>
            <li>Abhinav Dixit</li>
            <li>Chenyue Li</li>
            <li>Marcus Bonacci</li>
            <li>Quang Long Chau</li>
            <li>Gillian Downey</li>
        </ul>
    </footer>
</body>
</html>