{% extends "base.html" %}
{% block content %}
<div class="admin">
    
<script>
function confirmDeleteUser(username) {
    return confirm("Are you sure you want to delete user '" + username + "'?");
}
</script>

    <h2>Manage Users</h2>

    <div style="text-align: right; margin-bottom: 20px;">
        <a href="{{ url_for('admin.admin_dashboard') }}">
            <button style="padding: 6px 12px; font-size: 14px;">← Back to Dashboard</button>
        </a>
    </div>

    <!-- search form-->
    <form method="get" action="{{ url_for('admin.admin_users') }}" style="margin-bottom: 20px;">
        <input type="text" name="q" placeholder="Search by email or ID" value="{{ query or '' }}" />
        <button type="submit">Search</button>
    </form>

    <!-- user list -->
    <table class="table-info">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>
                    {{ user.id }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    <form action="{{ url_for('admin.delete_user', user_id=user.id) }}" method="POST" style="display:inline;">
                        <button class="admin-delete" type="submit" onclick="return confirmDeleteUser('{{ user.email }}');">
                            <svg id="icon-delete" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                            </svg>               
                        </button>
                    </form>
                </td>
            </tr>
            {% else %}
            <p>No users found.</p>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}