{% extends "base.html" %}

{# css_file is not set — will use Bootstrap as default 
  {% set css_file = url_for('static', filename='static/custom.css') %}
  #}

{% block pagetitle %}All Secrets{% endblock %}

{% block content %}
<div class="all-secrets-page">
  <h2>All Secrets</h2>

  {% for secret in secrets %}
    <div class="post">
      <div class="post-body">

        <p class="post-title"><a href="{{ url_for('secret_detail', secret_id=secret.id) }}">{{ secret.title }}</a></p>
        <p class="post-text">{{ secret.content }}</p>

        <p class="post-text muted">
          Posted by {{ secret.anonymous_poster }} on {{ secret.created_date }}
          {% if secret.expires_at %}
            | Expires at: {{ secret.expires_at }}
          {% endif %}
        </p>
      </div>
    </div>
  {% else %}
    <p class="all-secrets-no-posts">No secrets yet.</p>
  {% endfor %}
</div>
{% endblock %}
