{% extends "base.html" %}

{# css_file is not set — will use Bootstrap as default 
  {% set css_file = url_for('static', filename='static/custom.css') %}
  #}

{% block pagetitle %}All Secrets{% endblock %}

{% block content %}
<div class="all-secrets-page top-secrets-page">
  <h2>All Secrets</h2>
  <div class="sort-wrapper d-flex justify-content-between align-items-center mb-3">
    <form method="GET" action="{{ url_for('secrets') }} "></form>
      <div class="input-group">
        <select name="filter" class="form-select" onChange="window.location.href='/secrets?sort=' + this.value" required>
          <option value="" disabled selected>Sort by</option>
          <option value="spicy">Spicy</option>
          <option value="created-date">Recently posted</option>
          <option value="expiry-date">Expiry date</option>
        </select>
      </div>
    </form>
  </div>
  {% for secret in secrets %}
      <a class="card-wrapper" href="{{ url_for('secret_detail', id=secret.id) }}">
      <div class="card-body">
        <p class="card-title">{{ secret.title }}</p>
        <p class="card-text">{{ secret.content }}</p>
        <p class="text-muted small">

          Posted by {{ secret.anonymous_poster }} on {{ secret.created_date.strftime("%Y-%m-%d %H:%M:%S")  }}
          {% if secret.expires_at %}
            | Expires at: {{ secret.expires_at.strftime("%Y-%m-%d %H:%M:%S") }}
          {% else %}
            <span class="text-success">Permanent</span>
          {% endif %}
        </p>
        <p>{{ secret.rating }} 🌶️s</p>
      </div>
      </a>
  {% else %}
    <p class="all-secrets-no-posts">No secrets yet.</p>
  {% endfor %}
</div>
{% endblock %}
