<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagetitle %}Secret Wall{% endblock %}</title>
    <link href="../static/base.css" rel="stylesheet">
</head>    
<body>
    <!-- Navigation Bar -->
    <header>
        <div>
            <p>THE</p>
            <p>secret</p>
            <p>WALL</p>
        </div>
    </header>

    <!-- Navbar -->
    <nav>
        <div>
            <ul>
                <!-- TEMP DELETE WHEN ROUTES ARE DONE -->
                <li>
                    <a href="#">
                        <span>
                            <p>All Secrets</p>
                            <!-- <img src="../static/images/dropdown.svg" alt=""> -->
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>
                            <p>Login</p>
                            <!-- <img src="../static/images/user.svg" alt=""> -->
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>
                            <p>Tell a secret</p>
                            <!-- <img src="" alt=""> -->
                        </span>
                    </a>
                </li>
            </ul>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
{# TO DO: Once the route is ready, uncomment the following lines to add the links to the navbar
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('all_secrets') }}">All Secrets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('top_secrets') }}">Top Secrets</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                    </li>
                    {% endif %}
#}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <main>
        {% block content %}
        <div>
            <h1>Welcome to Secret Wall</h1>
            <p>A safe place to share your thoughts anonymously</p>
        </div>
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <ul>            
            <li>ziyuan zhao</li>
            <li>abhinav dixit</li>
            <li>chenyue li</li>
            <li>marcus bonacci</li>
            <li>quang long chau</li>
            <li>gillian downey</li>
        </ul>
    </footer>
</body>
</html>
