<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagetitle %}Secret Wall{% endblock %}</title>
    <link href="../static/custom.css" rel="stylesheet">
</head>    
<body>
    <!-- Navigation Bar -->
    <header>
        <div class="hero">
            <p>THE</p>
            <p>secret</p>
            <p>WALL</p>
        </div>
        <nav>
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('secrets') }}">Spicy secrets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">login</a>
                </li>
{# TO DO: Once the route is ready, uncomment the following lines to add the links to the navbar
                <li>
                    <ahref="{{ url_for('top_secrets') }}">Top Secrets</a>
                </li>
#}
{#                    {% if current_user.is_authenticated %}   
                <li>
                    <a href="{{ url_for('profile') }}">Profile</a>
                </li>
                    {% endif %}    #}
            </ul>
        </nav>
    </header>

    <!-- Page Content -->
    <main class="container">
        {% block content %}
        <div>
            <h1>Welcome to Secret Wall</h1>
            <p class="muted">A safe place to share your thoughts anonymously</p>
        </div>
        {% endblock %}
    </main>
</body>
</html>
