{% extends "base.html" %}

{% block pagetitle %}Create Secret{% endblock %}

{% block content %}

        <form method="POST" class="card p-4 shadow-sm">
            <div class="text-input">
                <label for="title" class="form-label">Title</label>
                <textarea class="form-control" name="title" id="title" rows="2" placeholder="Write your title here..." required></textarea>
            </div>
            <div class="text-input">
                <label for="content" class="form-label">Secret</label>
                <textarea class="form-control" name="content" id="content" rows="4" placeholder="Write your secret here..." required></textarea>
            </div>
            <label>Auto-delete after (optional):</label>
            <input type="number" name="hours" min="0" max="48" placeholder="Hours">
            <input type="number" name="minutes" min="0" max="59" placeholder="Minutes">
            <button type="submit" class="btn btn-primary w-100">Submit Secret</button>
        </form>
    </div>
</div>
{% endblock %}