{% extends "base.html" %}

{% block pagetitle %}Edit Secret{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">

        <form method="POST" class="card p-4 shadow-sm">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <textarea class="form-control" name="title" id="title" rows="2" required>{{secret.title}}</textarea>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Secret</label>
                <textarea class="form-control" name="content" id="content" rows="4" required>{{secret.content}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100">Edit Secret</button>
        </form>
    </div>
</div>
{% endblock %}