{% extends "base.html" %}

{% block pagetitle %}Home | Secret Wall{% endblock %}

{% block content %}
<div class="home-page">
    <div>
        <h2>Welcome to Secret Wall</h2>
        <p>Share your darkest secrets anonymously here.</p>
        <a href="{{ url_for('secrets') }}">View All Secrets</a>
    {# TO DO: Once the route is ready, uncomment the following lines
        <a href="{{ url_for('top_secrets') }}">Top Secrets</a>
        <a href="{{ url_for('profile', id=1) }}">My Profile</a>
    #}
    </div>
</div>
{% endblock %}