{% extends "base.html" %}

{# css_file is not set — will use Bootstrap as default 
  {% set css_file = url_for('static', filename='static/custom.css') %}
  #}

{% block pagetitle %}My Profile{% endblock %}

{% block content %}
<div class="profile-page">
  <h2>Profile</h2>

  <div>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Joined:</strong> {{ user.created_date }}</p>
  </div>

  <hr>
  <h3>My Secrets</h3>

  {% for secret in user.secrets %}
    <div class="post">
      <div class="post-body">
        <p class="post-title">{{ secret.title }}</p>
        <p class="post-text">{{ secret.content }}</p>
        <p class="post-text muted">
          Posted on {{ secret.created_date }}
          {% if secret.expires_at %}
            | Expires at: {{ secret.expires_at }}
          {% endif %}
        </p>
      </div>
    </div>
  {% else %}
    <p>You haven't posted any secrets yet.</p>
  {% endfor %}
  <button><a href= "{{ url_for('create_secret', id=user.id) }}" >create a secret</a></button>
</div>
{% endblock %}
