{% extends "base.html" %}
{% set css_file = url_for('static', filename='static/custom.css') %}
{% block pagetitle %}Top Secrets{% endblock %}

{% block content %}
  <h2>🔥 Top Secrets</h2>

  {% for secret in top_secrets %}
    <div class="post">
      <div class="post-body">
        <p class="post-text">
          {* TO DO: Uncomment the following line to make the secret clickable and redirect to its detail page
            replace the {{ secret.content }} in the following line
            <a href="{{ url_for('view_secret', secret_id=secret.id) }}">
              {{ secret.content }}
            </a>         
           *}
          {{ secret.content }}
        </p>
        <p class="post-text muted">
          ❤️ Likes: {{ secret.likes }} | Posted by {{ secret.user_name }} on {{ secret.created_at }}
          {% if secret.expires_at %}
            | Expires at: {{ secret.expires_at }}
          {% endif %}
        </p>
      </div>
    </div>
  {% else %}
    <p>No top secrets yet.</p>
  {% endfor %}
{% endblock %}
